
#Identação de código

  Identação é aquele espaçamento no inicio da linha.

    O nivel mais a direita pertence ao nivel mais a esquerda

# Variaveis

Uma Variavel um ome que se refere a um valor.

## Motivo do Uso

São Usadas para guardar valores mais tarde no nosso programa

## Sintaxe

idade = 22  
nome = 'Aldecione'

In [ ]:
nome = 'Aldecione'  
idade = 22

In [ ]:
nome

'Aldecione'

In [ ]:
idade

22

In [ ]:
idade = idade + 1

In [ ]:
idade

24

In [ ]:
primeiroNumero = 15
segundoNumero = 10

soma = primeiroNumero + segundoNumero

# soma = 15 + 10
# soma = 25

In [ ]:
nome = 'Aldecione'
sobreNome = 'Junior'
apelido = 'Junior'

In [ ]:
nomeCompleto = nome + ' ' + sobreNome

In [ ]:
nomeCompleto

'Aldecione Junior'

In [ ]:
#Identação de código

  #Identação é aquele espaçamento no inicio da linha.

    # O nivel mais a direita pertence ao nivel mais a esquerda

In [ ]:
print("Hello World!")

Hello World!

 # Tipos de Dados

 Toda variavel tem um tipo

 texto  
 numero  
 booleano

In [ ]:
inteiro = 10  
decimal = 10.5  
texto = 'Aldecione Junior'  
verdadeiro_ou_falso = True # True ou False

In [ ]:
23 + 10

33

In [ ]:
type(texto)

str

In [ ]:
type(inteiro)

int

In [ ]:
type(verdadeiro_ou_falso)

bool

In [ ]:
type(decimal)

float

In [ ]:
# int => Inteiros
# float => Numero co Virgula
# str => Strings(texto)
# bool => Booleanos (Verdadeiro Ou Falso)

texto_10 = '20'  
numero_20 = 20

In [ ]:
type(texto_10)

str

In [ ]:
type(numero_20)

int

In [ ]:
# Conversão
texto_10 = str(numero_20)

In [ ]:
type(texto_10)

str

In [ ]:
esta_chovendo = True

In [ ]:
esta_frio = False

In [ ]:
textoNew = '22'

In [ ]:
numero = int(textoNew)

NameError: ignored

In [ ]:
# Operações Matematicas 


# Soma = +
# subtracao = -
# multiplicação = *
# Divisao = /

In [ ]:
soma = 10 + 20

In [ ]:
subtracao = 12 - 2

In [ ]:
multiplicacao = 2 * 3

In [ ]:
divisao = 2 / 1

In [ ]:
primeiroNumero = 20  
segundoNumero = 30  
terceiroNumero = 10  
quartoNumero = 5  

  ValorFinal = (primeiroNumero + segundoNumero - terceiroNumero) / quartoNumero

# Metodos De Entrada

 São Formas de Enviar Valores Para o Python

 Usa-se a Função Input() e enviamos uma String

In [ ]:
nome = input("Digite Seu Nome! ")

Digite Seu Nome! Aldecione

In [ ]:
idade = int(input("Digite Sua Idade! "))

Digite Sua Idade! 21

In [ ]:
type(21)

int

# Metodos De Saida

Mostrar um valor para o usuário

In [ ]:
primeiroNumero = 10  
segundoNumero = 20

soma = primeiroNumero + segundoNumero

print('O valor da soma é: ', soma)

O valor da soma é:  30

In [ ]:
nome = input('Digite seu Nome')
idade = int(input('Digite sua Idade'))

print('Olá ', nome, 'sua Idade é: ',idade)

Digite seu NomeAldecione
Digite sua Idade21
Olá  Aldecione sua Idade é:  21

In [ ]:
print('Seja Bem Vindo a Minha Calculadora de Multiplicação!')

valor1 = float(input('Digite um Numero Para Calcular: '))
valor2 = float(input('Digite Outro Numero Para Calcular: '))

multiplicacao = (valor1 * valor2)  

print('O Resultado da Multiplicação do Valor ', valor1, ' e ', valor2, ' é: ', multiplicacao)

Seja Bem Vindo a Minha Calculadora de Multiplicação!
Digite um Numero Para Calcular: 2
Digite Outro Numero Para Calcular: 6
O Resultado da Multiplicação do Valor  2.0  e  6.0  é:  12.0

# Dados Sequenciais

Usa-se lista para armazenar varios valores

listaDeAnimais = ['Cachorro', 'Gato', 'Coelho', 'Furão', 'Passaro', 'Peixe']
# Posição            1           2        3        4          5        6
# Indice             0           1        2        3          4        5

In [ ]:
listaDeAnimais = ['Cachorro', 'Gato', 'Coelho', 'Furão', 'Passaro', 'Peixe']

In [ ]:
# Pegando valores da Lista

cachorro = listaDeAnimais[0]
gato = listaDeAnimais[1]

In [ ]:
print('O Dracks e Logan são ', cachorro)
print('xaninha e uma ', gato)

O Dracks e Logan são  Cachorro
xaninha e uma  Gato

In [1]:
# Condições